<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CG Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .input-container {
            display: flex;
            align-items: center;
            margin-bottom: 15px; /* Increased space between each input container */
        }

        .input-container input {
            margin-right: 10px; /* Space between the input and the icon */
            padding: 5px; /* Padding inside the input field */
            width: 150px; /* Width of the input field */
        }

        .input-container img {
            width: 20px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Corrupted Gauntlet Simulator</h1>
    <form id="inputForm">
        <div class="input-container">
            <input type="number" id="hpLevel" placeholder="HP Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Hitpoints_icon.png') }}" alt="HP Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="attackLevel" placeholder="Attack Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Attack_icon.png') }}" alt="Attack Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="strengthLevel" placeholder="Strength Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Strength_icon.png') }}" alt="Strength Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="rangeLevel" placeholder="Range Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Ranged_icon.png') }}" alt="Range Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="mageLevel" placeholder="Mage Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Magic_icon.png') }}" alt="Mage Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="defenseLevel" placeholder="Defense Level" min="1" max="99">
            <img src="{{ url_for('static', filename='Assets/Defence_icon.png') }}" alt="Defense Icon" style="width: 20px; height: auto;">
        </div>
        <div class="input-container">
            <input type="number" id="foodCount" placeholder="# of fish" min="1" max="25">
            <img src="{{ url_for('static', filename='Assets/Paddlefish.png') }}" alt="Food Icon" style="width: 20px; height: auto;">
        </div>
        <div>
            <h2>Armor Tier</h2>
            <label>
                <input type="radio" name="armorChoice" value="1" hidden checked>
                <img src="{{ url_for('static', filename='Assets/Corrupted_body_(basic).png') }}" alt="T1" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="radio" name="armorChoice" value="2" hidden>
                <img src="{{ url_for('static', filename='Assets/Corrupted_body_(attuned).png') }}" alt="T2" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="radio" name="armorChoice" value="3" hidden>
                <img src="{{ url_for('static', filename='Assets/Corrupted_body_(perfected).png') }}" alt="T3" style="width: 50px; height: auto;">
            </label>
            <h2>Range Prayers</h2>
            <label>
                <input type="radio" name="prayerRChoice" value="1.15" hidden checked>
                <img src="{{ url_for('static', filename='Assets/Eagle_Eye.png') }}" alt="Eagle Eye" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="radio" name="prayerRChoice" value="1.25" hidden>
                <img src="{{ url_for('static', filename='Assets/Rigour.png') }}" alt="Rigour" style="width: 50px; height: auto;">
            </label>
        </div>
        <div>
            <h2>Magic Prayers</h2>
            <label>
                <input type="radio" name="prayerMChoice" value="1.15" hidden checked>
                <img src="{{ url_for('static', filename='Assets/Mystic_Might.png') }}" alt="Mystic Might" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="radio" name="prayerMChoice" value="1.25" hidden>
                <img src="{{ url_for('static', filename='Assets/Augury.png') }}" alt="Augury" style="width: 50px; height: auto;">
            </label>
        </div>
        <div>
            <h2>Melee Prayers</h2>
            <label>
                <input type="radio" name="prayerMeChoice" value="1.25" hidden checked>
                <img src="{{ url_for('static', filename='Assets/Piety.png') }}" alt="Piety" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="radio" name="prayerMeChoice" value="1.15" hidden>
                <img src="{{ url_for('static', filename='Assets/Ultimate_reflexes.png') }}" alt="UltRef" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="checkbox" id="steelSkin" value="true" hidden>
                <img src="{{ url_for('static', filename='Assets/Steel_Skin.png') }}" alt="Steel Skin" style="width: 50px; height: auto;">
            </label>
        </div>
        <div>
            <h2>Weapon Selection</h2>
            <label>
                <input type="checkbox" class="weapon-checkbox" id="halberd" value="true" hidden>
                <img src="{{ url_for('static', filename='Assets/halberd.png') }}" alt="halberd" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="checkbox" class="weapon-checkbox" id="bow" value="true" hidden>
                <img src="{{ url_for('static', filename='Assets/bow.png') }}" alt="bow" style="width: 50px; height: auto;">
            </label>
            <label>
                <input type="checkbox" class="weapon-checkbox" id="staff" value="true" hidden>
                <img src="{{ url_for('static', filename='Assets/staff.png') }}" alt="staff" style="width: 50px; height: auto;">
            </label>
        </div>
        <button type="button" id="simulateButton">Submit</button>
    </form>
    
    <div id="survivalOdds">
        Your odds of survival are: <span id="survivalOddsValue"> ? </span>
    </div>

    <div id="resultDisplay"></div>
    <script>
        window.onload = () => {
            // Reset all number inputs to empty on page load
            document.querySelectorAll('input[type="number"]').forEach(input => {
                input.value = '';
            });
    
            // Deselect all weapon checkboxes on page load
            document.querySelectorAll('.weapon-checkbox').forEach(checkbox => {
                checkbox.checked = false;
            });
        };
    
        document.querySelectorAll('input[type="number"]').forEach(input => {
            input.addEventListener('input', () => {
                if (input.value !== '') {
                    let value = parseInt(input.value);
                    if (value < 1) input.value = 1;
                    if (value > 99) input.value = 99;
                }
            });
        });
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
